<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
    <div class="link-btn">
      <%# ログインしている場合 %>
      <% if !@current_user.nil? %>
        <%= link_to "記事を作成する", "/articles/new", class: "btn btn-lg btn-primary mkarticle" %>
        <%= link_to "ログアウトする", logout_path, class: "btn btn-lg btn-primary mkarticle", data: { "turbo-method": :delete } %>
      <% else %>
        <p>未登録の場合</p>
        <%= link_to "ユーザー登録する", "/signup", class: "btn btn-lg btn-primary to-signup" %>
        <p>ログインしてない場合</p>
        <%= link_to "ログインする", "/login", class: "btn btn-lg btn-primary to-signup" %>
      <% end %>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" href="#" id="yourfeed">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="" id="globalfeed">Global Feed</a>
            </li>
          </ul>
        </div>

        <div class="your-feed">
          <%= render 'shared/feed' %>
        </div>

        <div class="global-feed show">
          <%= render 'shared/global-feed' %>
        </div>

      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <% if !@articles.nil? %>
              <% @articles.each do |article| %>
                <a href="" class="tag-pill tag-default"><%= article.tag %></a>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>