<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <ul class="error-messages">
          <li>That title is required</li>
        </ul>
        <%# ログインしていたらユーザー名を表示 %>
        <% if logged_in? %>
          <a>ログイン中のユーザー：</a><%= current_user.name %>
        <% else %>
          <p>登録してない方はこちら</p>
          <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
          <p>ログインしてない方はこちら</p>
          <%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %>
        <% end %>
        <%= form_with(model: @article) do |f| %>
          <%# <%= render 'shared/error_messages', object: f.object  %>
          <div class="form-group">
            <%= f.text_field :title, placeholder: "Article Title", class: "form-control form-control-lg" %>
          </div>
          <div class="form-group">
            <%= f.text_field :junre, placeholder: "What's this article about?", class: "form-control form-control-lg" %>
          </div>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "Write your article (in markdown)", rows: 8, class: "form-control form-control-lg" %>
          </div>
          <div class="form-group">
            <%= f.text_field :tag, placeholder: "Enter tags", class: "form-control form-control-lg" %>
            <div class="tag-list">
              <span class="tag-default tag-pill"> <i class="ion-close-round"></i> tag </span>
            </div>
          </div>
          <%= f.submit "Publish Article", class: "btn btn-lg pull-xs-right btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>