<% if @feed_items&.any? %>
  <% @feed_items.reverse_each do |feed_item| %>
    <div class="article-preview">
      <div class="article-meta">
        <div class="info">
          <a href="#" class="author"><%= feed_item.user.name %></a>
          <span class="date"><%= feed_item.created_at %></span>
        </div>
      </div>
      <a href="#" class="preview-link">
        <h1><%= feed_item.title %></h1>
        <p>This is the description for the post.</p>
        <p><%= feed_item.content %></p>
        <span>Read more...</span>
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline"><%= feed_item.tag %></li>
        </ul>
      </a>
    </div>
  <% end%>
  <%= will_paginate @feed_items %>
<% else %>
  <p>まだ投稿された記事がありません。</p>
<% end %>