<% if @articles&.any? %>
  <% @articles.reverse_each do |article| %>
    <div class="article-preview">
      <div class="article-meta">
        <div class="info">
          <a href="#" class="author"><%= article.user.name %></a>
          <span class="date"><%= article.created_at %></span>
        </div>
      </div>
      <a href="#" class="preview-link">
        <h1><%= article.title %></h1>
        <p>This is the description for the post.</p>
        <p><%= article.content %></p>
        <span>Read more...</span>
        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline"><%= article.tag %></li>
        </ul>
      </a>
    </div>
  <% end%>
<% else %>
  <p>まだ投稿された記事がありません。</p>
<% end %>